.editorconfig
.env
.env.*
.git/
.gitattributes
.github/
.gitignore
.idea/
.sops.yaml

codestyle.php
docker-compose*
eslint.config.js
Taskfile.yml
node_modules/
docs/
phpstan*
phpunit.xml.dist
public/hot
readme.md
renovate.json5
vendor/
.composer/

environment/dev/
environment/prod/deployment/beta
!/environment/.docker
