.editorconfig
.env
.env.*
.git/
.gitattributes
.github/
.gitignore
.sops.yaml
Makefile
README.md
docker-compose.yml
docs/
phpstan*
phpunit.xml.dist
.idea/
vendor/
node_modules/
.composer/

environment/dev/
environment/prod/deployment/
