VITE_CONTACT_FORM_URL='https://docs.google.com/forms/u/0/d/e/00000000000000000000000000000000000000000000000000000000'
VITE_CONTACT_FORM_EMAIL_NAME='emailAddress'
VITE_CONTACT_FORM_QUESTION_NAME='entry.0000000000'

VITE_MAPBOX_STYLE='mapbox://styles/krewak/ckjhf6g1qbww719p1e33pgm84'
VITE_MAPBOX_TOKEN=''

CURRENT_UID=1000
EXTERNAL_NODE_PORT=14380
VITE_PORT=${EXTERNAL_NODE_PORT}
