/.idea
/.vscode
/.composer

/node_modules
/vendor

/public/build
/public/hot
/public/storage
/public/js
/public/css
/public/mix-manifest.json

.env
.env.backup
.env.beta.secrets.decrypted
.phpunit.result.cache
.php-cs-fixer.cache
docker-compose.override.yml
npm-debug.log
yarn-error.log
google-credentials.json
supervisord.pid
