@tailwind base;
@tailwind components;
@tailwind utilities;

.section-padding {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}
.padding-left {
  width: 100%;
  padding-left: 15%;
}
.bg-binary{
  background-size: auto;
  background-repeat: round;
  background-position: center;
}
.title{
  font-size: 60px;
  line-height: 1;
  margin-bottom: 24px;
}
.subtitle
{
  font-size: 20px;
  line-height: 28px;
}
.active
{
  background-color: #f4f8fd;
  color: #5379f6;
}
.nav-item:hover {
  background-color: rgba(124, 156, 252, 0.2);
  color: #5379f6;
}

.nav-item{
  justify-content: center;
}
.tech-icon{
  filter: grayscale(100%);
  height: 75px;
  width: auto;
  transition: transform .2s;
}
.tech-icon:hover,
.tech-icon:active {
  filter: grayscale(0%);
  transform: scale(1.2);
}
.client-icon{
  filter: grayscale(100%);
  height: auto;
  width: 176px;
  transition: transform .2s;
}
.client-icon:hover,
.client-icon:active {
  filter: grayscale(0%);
  transform: scale(1.2);
}
